.menu{
	max-width:500px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	background-color: burlywood;
}
hr{
	background-color: brown;
	height: 1px;
}
h1, h2, p{
	text-align: center;
}
.stablished{
	font-family: initial;
}
h1,h2{
	font-family:Impact;
}
h1{
	font-size: 40px;
}
h2{
	font-size:30px;
}
body{
	background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
	font-family:sans-serif;
	padding: 20px;
}
img{
	display: block;
	margin-left: auto;
	margin-right:auto;
	margin-top:-2px;
}
.item p{
	display: inline-block;
	margin-top: auto;
	margin-bottom: 10px;
	font-size: 18px;
}
.flavor, .dessert{
	text-align:left;
	width: 75%;
}
.price{
	text-align:right;
	width: 25%;
}

/* FOOTER */

a{
	color:black;
}
a:visited{
	color:grey;
}
a:hover{
	color:brown;
}
a:active{
	color:white;
}
.address{
	margin-bottom: 5px;
}
