* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: #2196F3;
	align-items: center;
	justify-content:center
}

.board{
	width: 400px;
	height: 430px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	align-items: flex-start;
	flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
	padding-top: 30px;
}

.to-do {
	width: 360px;
	height: 40px;
	background-color: inherit;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	margin-bottom: 10px;
}

.line{
	height: 1px;
	width: 90%;
	background-color: darkgray;
	margin-bottom: 10px;
}

.task {
	text-align: left;
	padding: 10px;
	flex-grow: 6;
	border-radius: 10px;
	border: none;
}

.plus-btn {
  width: 12%;
  height: 11vh;
  background-image: url('icons/plus-blue.png');
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.task-checkbox{
	width: 20px;
	height: 20px;
}

.added-task-content{
	text-align: center;
	padding-left: 5px;
}

.added-task {
	width: 360px;
	height: 40px;
    background-color: #f5f5f5;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
	display: inline-flex;
    cursor: pointer;
}

.plus-btn:hover{
	background-image: url('icons/add-black.png');
}

.plus-btn:active{
	background-image: url('icons/plus.png');
}

.task:focus{
	outline: none;
}


